body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  width: 80%;
  margin: auto;
}


.bold {
  font-weight: 700;
}

h1 {
  margin: 0;
  font-size: 40px;
}

h2 {
  margin: 0;
  font-size: 32px;
}

h3 {
  margin: 0;
  font-size: 24px;
  color: #3B3B3B;
}

p {
  color: #717171;
}

/* NAVBAR */
nav {
  padding: 20px 0;
}

nav div.container p {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  color: #28B463;
  margin: 0;
  /* float: left; */
}

nav div.container div {
  float: right;
}

nav div.container div ul {
  display: inline-block;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;
}

nav div.container div ul li {
  display: inline-block;
  margin-left: 20px;
}

nav div.container div ul li a {
  text-decoration: none;
  color: #000;
}

nav div.container div ul li a:hover {
  color: #28B463;
  cursor: pointer;
}

nav div.container div button {
  margin: 0;
  display: inline-block;
  margin-left: 20px;
  background-color: #28B463;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
}

nav div.container div button:hover {
  background-color: #A9DFBF;
  cursor: pointer;
}

/* HERO */
section#hero {
  background-image: url('img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.background {
  padding: 250px 100px;
  background-color: rgba(0, 0, 0, 0.4);
}

section#hero p {
  color: #fff;
  margin: 0;
  font-size: 22px;
}

section#hero button {
  font-size: 22px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.0);
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px 25px;
  margin-top: 40px;
}

section#hero button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}

/* ABOUT */
section#about div.about {
  margin: 50px 0;
  width: 50%;
}

section#about div img {
  width: 100%;
}

section#about p {
  margin: 20px 0;
}

section#about i {
  color: #28B463;
  border: 2px solid #28B463;
  border-radius: 50%;
  padding: 3px;
  margin-right: 5px;
}

section#about div.counter {
  text-align: center;
  background-color: #EAEAEA;
}

section#about div.counter div.number-container {
  width: 20%;
  padding: 40px 0;
  margin: 0 2%;
}

section#about div.counter div.number-container h2 {
  color: #28B463;
}

section#about div.counter div.number-container p {
  color: #3B3B3B;
  margin: 0;
}

/* FEATURES */
section#features {
  margin: 50px 0;
}

section#features div.card-green {
  text-align: left;
  background-color: #28B463;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
}

section#features div.card-green div.btn {
  width: 100%;
  text-align: center;
}

section#features div.card-green button {
  font-size: 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 0;
}

section#features div.card-green button:hover {
  cursor: pointer;
}

section#features div.card-green p {
  margin: 20px 0;
  text-align: left;
  color: #fff;
}

section#features div.feature-card {
  text-align: center;
  border: 1px solid #EAEAEA;
  padding: 2%;
  margin-left: 2%;
  width: 16%;
}

section#features div.feature-card i {
  color: #28B463;
  background-color: #D5F5E3;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 35px;
}

section#features div.feature-card p {
  margin-top: 35px;
}

section#features div.small-cards {
  margin: 50px 0;
}

section#features div.small-card {
  width: 20%;
  padding: 1%;
  margin: 20px 1.4%;
  border: 1px solid #EAEAEA;
}

section#features div.small-card i,
section#features div.small-card h3 {
  display: inline-block;
}

section#features div.small-card i {
  font-size: 28px;
  margin-right: 5px;
}

/* ICONS */
.fa-store {
  color: #F5B041;
}

.fa-chart-column {
  color: #2E86C1;
}

.fa-calendar-day {
  color: #E74C3C;
}

.fa-paint-roller {
  color: #A569BD;
}

.fa-coins {
  color: #1F618D;
}

.fa-crosshairs {
  color: #F0B27A;
}

.fa-scroll {
  color: #76D7C4;
}

.fa-warehouse {
  color: #34495E;
}

.fa-anchor {
  color: #6E2C00;
}

.fa-music {
  color: #C55789;
}

.fa-satellite-dish {
  color: #F35C4D;
}

.fa-fingerprint {
  color: #28B463;
}

/* COURSES */

section#courses {
  margin: 100px 0;
}

section#courses h3.title {
  display: inline-block;
  color: #AAB7B8;
  margin-right: 10px;
}

section#courses h2 {
  color: #3B3B3B;
  margin-bottom: 40px;
}

section#courses div.line {
  display: inline-block;
  width: 150px;
  background-color: #28B463;
  height: 1px;
  margin-bottom: 5px;
}

section#courses div.course-card {
  width: 30%;
  margin-left: 3%;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
}

section#courses div.course-card img.course {
  width: 100%;
}

section#courses div.course-card div.course-body,
section#courses div.course-card div.course-footer {
  width: 90%;
  margin: auto;
}

div.course-card div.course-footer {
  border-top: 2px solid #EAEAEA;
}

div.course-card div.course-footer div.course-trainer {
  float: left;
  width: 50%;
}

div.course-card div.course-footer div.course-trainer img {
  border-radius: 50%;
  margin: 10px 0;
  width: 30%;
  float: left;
}

div.course-card div.course-footer div.course-trainer p {
  display: inline-block;
  padding: 10px 20px;
  float: left;
}

div.course-card div.course-footer div.course-socials {
  float: right;
  width: 50%;
}

div.course-card div.course-footer div.course-socials p {
  display: inline-block;
  padding: 10px 0 20px 20px;
  float: right;
}

/* CONTACT */

section#contact {
  padding: 50px 0;
  background-color: #EAEAEA;
}

section#contact h2 {
  color: #3B3B3B;
}

section#contact div.contact {
  margin-right: 80px;
}

section#contact div.contact p {
  line-height: 2;
  margin-bottom: 30px;
}


section#contact div.contact ul {
  list-style: none;
}

section#contact div.contact ul li {
  margin-bottom: 20px;
}

section#contact div.contact ul li a {
  text-decoration: none;
  color: #717171;
}

section#contact div.contact ul li a:hover {
  cursor: pointer;
}

section#contact div.contact ul li a span {
  color: #28B463;
  font-size: 20px;
}

section#contact div.newsletter {
  width: 30%;
}

section#contact div.newsletter form {
  position: relative;
}

section#contact div.newsletter form input {
  width: 80%;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #909497;
}

section#contact div.newsletter form button {
  height: 42px;
  width: 130px;
  font-size: 18px;
  color: #fff;
  background-color: #28B463;
  border: none;
  border-radius: 20px;
  position: absolute;
  right: 10%;
}

section#contact div.newsletter form button:hover {
  cursor: pointer;
  background-color: #52BE80;
}

/* FOOTER */

footer {
  background-color: #C6C6C6;
  position: relative;
}

footer div.right {
  margin: 35px 0;
}

footer i {
  background-color: #28B463;
  color: #fff;
  min-width: 15px;
  min-height: 15px;
  padding: 10px;
  border-radius: 50%;
  margin-left: 20px;
}

footer i.back {
  position: absolute;
  right: 2%;
  bottom: 15%;
}


/* MEDIA QUERIES */

@media screen and (max-width: 425px) {

  .container {
    width: 90%;
  }

  .left,
  .right {
    float: none;
  }

  h1 {
    margin: 0;
    font-size: 28px;
  }

  h2 {
    margin: 0;
    font-size: 32px;
  }

  h3 {
    margin: 0;
    font-size: 24px;
    color: #3B3B3B;
  }

  p {
    font-size: 16px;
  }

  /* NAVBAR */

  nav div.container div ul {
    display: none;
  }

  /* HERO */

  section#hero p {
    font-size: 18px;
  }

  .background {
    padding: 250px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  section#hero button {
    font-size: 18px;
  }

  /* ABOUT */

  section#about div.about {
    width: 100%;
  }

  section#about div.counter div.number-container {
    float: left;
    width: 45%;
  }

  /* FEATURES */

  section#features div.card-green {
    text-align: left;
    width: 90%;
    margin-bottom: 20px;
  }

  section#features div.feature-card {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 30px 0;
    width: 100%;
  }

  section#features div.small-card {
    display: none;
  }

  section#courses {
    display: none;
  }

  /* CONTACT */

  section#contact div.newsletter {
    width: 100%;
  }

  section#contact div.newsletter form input {
    width: 95%;
    height: 38px;
    border-radius: 20px;
    border: 1px solid #909497;
  }

  section#contact div.newsletter form button {
    height: 42px;
    width: 130px;
    font-size: 18px;
    color: #fff;
    background-color: #28B463;
    border: none;
    border-radius: 20px;
    position: absolute;
    right: 3%;
  }

  /* FOOTER */

  footer {
  text-align: center;
  padding: 20px 0;
  }

  footer p {
    margin: 0;
  }

  footer i.back {
    display: none;
  }


}
